*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.color {
    background-color: red;
}

.sizeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px; 
    min-height: 200px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

/* .grid-container {
    display: grid;

} */

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}